<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('./partials/head') %>
    <title>Home page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 row row-cols-4 ">
        <% blogs.forEach(data => { %>
         
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="<%= data.coverImageUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> <%= data.title %> </h5>
                      <a href="/blog/<%=data._id%>" class="btn btn-primary">View</a>
                    </div>
                  </div>
            </div>



        <% }) %>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>